body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(226, 233, 239);
}
.container{
    width: 700px;
    margin: 16px;
}
h1{
    text-align: center;  
}
nav li{
    display: inline;
    margin-right: 40px;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover{
    color:rgb(202, 192, 10);
    text-decoration: underline;
}
.logo{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(91, 176, 116);
    text-transform: uppercase;
    font-size: 40px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
}
img{
    width: 300px;
    height: auto;
}
footer {
    font-size: 15px;
    color: aqua;
    background-color: black;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    
           
}